body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/*All css classes associated with toolbox*/

.toolboxCard {
  height: 309px;
  width: 516px;
}

.toolboxTitleDiv {
  height: 60px;
  width: 516px;
  background: green;
}

.toolboxBodyCardsText {
  color: #333333;
  font-family: InspireTWDC;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
}

.toolboxBodyCards {
  margin-left: 13px;
  height: 100px;
  width: 110px;
  border-radius: 4px;
  background-color: #F7F7F7;
}

.toolboxBodyCardsImg {
  width :40px;
  height : 40px
}

.toolboxCardTitleText {
  color: #333333;
  font-family: InspireTWDC;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 24px;
}

.toolboxCardTitle {
  height: 60px
}

.toolboxCardTitleContent {
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 18px
}

/*All css associated with menu*/

.menuItemHeight {
  height: 43px;
  /*background: #0f6674;*/
}

.menuItemFont {
  height: 32px;
  color: #1C4A87;
  font-family: InspireTWDC;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 24px;
}

.sidebarProfilePictureBox {
  height: 86px;
  width: 217px;
  margin-left: 19px;
  margin-bottom: 21px;
  margin-right: 44px;
  margin-top: 21px;
  display: inline-block;

}

.sidebarProfilePicture {
  box-sizing: border-box;
  height: 86px;
  width: 86px;
  border: 3px solid #0E4179;
  border-radius: 50%;
  background-image: url('sj.jpg');
  display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.sidebarProfileName {
  width: 121px;
  color: #333333;
  font-family: InspireTWDC;
  font-size: 19.2px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 28.8px;
  padding-left: 5px;
  bottom: 50% !important;
}

.sidebarMenuSubMenuName {
    color: #1C4A87;
    font-family: InspireTWDC;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.menudivideline {
  box-sizing: border-box;
  height: 1.03px;
  width: 242px;
  border: 1px solid #CDCDCD;
  margin-top: 28px;
  margin-bottom: 28px;
}

.rectangularHideBox {
  height: 22px;
  width: 61px;
  float: right;
}

.hiddenSideMenu {
  height: 1923px;
  width: 70px;
  background-color: #FFFFFF;
}

.hideText {
    height: 19px;
    width: 28px;
    color: #333333;
    font-family: InspireTWDC;
    font-size: 13.3px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
}
